name: Continuous Deployment

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Deploy to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF }}
        run: |
          pip install -U huggingface_hub
          python -c "from huggingface_hub import login; login(token='$HF_TOKEN')"
          python -c "from huggingface_hub import upload_folder; upload_folder(folder_path='./App', repo_id='Abderahman-el-hamidy/Weather-Prediction', repo_type='space', commit_message='Sync App files')"
          python -c "from huggingface_hub import upload_folder; upload_folder(folder_path='./Model', repo_id='Abderahman-el-hamidy/Weather-Prediction', repo_type='space', path_in_repo='Model', commit_message='Sync Model')"
          python -c "from huggingface_hub import upload_folder; upload_folder(folder_path='./Results', repo_id='Abderahman-el-hamidy/Weather-Prediction', repo_type='space', path_in_repo='Results', commit_message='Sync Results')"
