name: Continuous Deployment

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Hugging Face Hub
        run: |
          pip install -U huggingface_hub
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Login and Deploy to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF }}
        run: |
          huggingface-cli login --token $HF_TOKEN --add-to-git-credential
          huggingface-cli upload Abderahman-el-hamidy/Weather-Prediction ./App --repo-type=space --commit-message="Sync App files"
          huggingface-cli upload Abderahman-el-hamidy/Weather-Prediction ./Model /Model --repo-type=space --commit-message="Sync Model"
          huggingface-cli upload Abderahman-el-hamidy/Weather-Prediction ./Results /Results --repo-type=space --commit-message="Sync Results"
